<div class="container mt-5 flex-grow-1 mb-3">
  <form (ngSubmit)="searchUser(usernameInput.value)">
    <div class="col mb-3">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Find user by username..."
          #usernameInput
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="submit"
          >
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </form>

  <div *ngIf="users && users.length > 0; else noUserTemplate">
    <ul class="list-group">
      <li *ngFor="let user of users" class="list-group-item d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <img [src]="'/api/users/' + user.id + '/image'" alt="User Image" class="rounded-circle me-2 user-image">
          <span class="user-name">{{ user.username }}</span>
        </div>
        <a [routerLink]="['/edit-profile', user.id]" class="btn">
          <i class="fas fa-edit"></i>
        </a>
      </li>
    </ul>
  </div>
  <ng-template #noUserTemplate>
    <h5 class="text-muted">No users found with that username.</h5>
  </ng-template>
  
</div>