/* You can add global styles to this file, and also import other style files */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.navbar.bg-dark {
  background-color: #004085 !important;
}

.btn-primary {
  background-color: #0069d9 !important;
  border-color: #0062cc !important;
}

.btn-outline-primary {
  border-color: #0062cc;
  background-color: white;
  color: #0069d9;
}

.btn-outline-light {
  color: #f1f3f5 !important;
  border-color: #f8f9fa !important;
}

.card {
  background-color: #ffffffe9 !important;
}

.text-dark {
  color: #0063cc !important;
}

footer.bg-dark {
  background-color: #004085 !important;
}

i.fas {
  color: #0063cc;
}

.card-title {
  color: #006fe6;
}

.navbar .nav-item .nav-link {
  color: #ffff;
}

.navbar .nav-item .btn-outline-light:hover {
  background-color: #006fe6;
  color: #fff;
}

.no-hover:hover {
  transform: none !important;
  box-shadow: none !important;
}

.btn-link-hover:hover {
  color: #0056b3;
  text-decoration: underline;
}

.btn-delete {
  color: rgba(255, 0, 0, 0.813) !important;
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 500px; /* Asegura que tome todo el ancho disponible del contenedor padre */
}

.white-icon {
  color: white !important;
}

i.liked {
  color: rgb(18, 212, 18);
}

i.disliked {
  color: rgba(255, 0, 0, 0.813);
}

@media (max-width: 980px) {
  .text-truncate {
    width: 380px; /* Ajusta según necesites para pantallas pequeñas */
  }
}

@media (max-width: 768px) {
  .text-truncate {
    width: 240px; /* Ajusta según necesites para pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .text-truncate {
    width: 150px; /* Ajusta según necesites para pantallas muy pequeñas */
  }
}
