<div class="container mt-4 flex-gr">
  <div class="row">
    <div class="col-md-8 mb-3">
      <div
        class="col-12 d-flex justify-content-between align-items-center mb-3"
      >
        <h2 class="uppercase">
          <i class="fas fa-{{ forum?.icon }} fa-lg mb-1"></i> {{ forum?.name }}
        </h2>
        <button
          *ngIf="loggedIn"
          type="button"
          class="btn btn-outline-primary"
          (click)="openModal()"
        >
          New thread
        </button>
      </div>
      <div class="list-group" id="thread-container">
        <div *ngFor="let thread of threads">
          <a
            [routerLink]="['/t', thread.id]"
            class="list-group-item list-group-item-action d-flex align-items-center"
          >
            <i>{{ thread.name }}</i>
          </a>
        </div>
      </div>
      <div *ngIf="threads.length === 0" class="text-center mt-3">
        <h4>No threads in this forum</h4>
      </div>
      <div class="text-center mt-3" *ngIf="!lastPage">
        <button
          class="btn btn-primary px-5"
          id="loadMoreButton"
          (click)="getMoreThreads()"
        >
          Load More
        </button>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <app-categories></app-categories>
    </div>
  </div>
</div>