<div class="container mt-4 flex-grow-1">
  <div class="row">
    <div class="col-md-8 mb-3">
      <div
        class="col-12 d-flex justify-content-between align-items-center mb-3"
      >
        <h2 class="mb-0 col-8">
          <a href="/f/{{ thread?.forum?.id }}"
            ><i class="fas fa-{{ thread?.forum?.icon }} fa-lg"></i
          ></a>
          {{ thread?.name }}
        </h2>
        <div>
          <button
            type="button"
            class="btn btn-delete"
            (click)="deleteThread()"
            *ngIf="isAdmin || isThreadOwner"
          >
            Delete Thread
          </button>
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="openModal()"
            *ngIf="loggedIn"
          >
            Add Post
          </button>
        </div>
      </div>
      <div class="list-group">
        <div *ngFor="let post of postsShown" class="col-12 mb-3">
          <app-post [post]="post" [threadId]="threadId" (edited)="editPost()" (deleted)="deletePost()"></app-post>
        </div>
      </div>
      <div id="spinner" class="text-center" *ngIf="loading">
        <div class="spinner-border" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
      <div *ngIf="!loading && postsShown.length === 0" class="text-center mt-3">
        <h4>No posts</h4>
      </div>
      <div class="text-center mt-3" *ngIf="currentPage + 1 < totalPages">
        <button
          class="btn btn-primary px-5"
          id="loadMoreButton"
          (click)="getMorePosts()"
        >
          Load More
        </button>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <app-categories></app-categories>
    </div>
  </div>
</div>