{{>header}}

<!-- contenido -->
<div class="container mt-5 flex-grow-1">
  <div class="row">
    <!-- Columna de Perfil -->
    <div class="col-md-4">
      <div class="text-center">
        <img
          src="/image/user/{{username}}"
          class="rounded-circle mb-3"
          alt="Imagen Perfil"
          style="width: 150px; height: 150px"
        />
        <h3>{{username}}</h3>
        <p>{{numberPosts}} Post</p>
        <p>{{numberThreads}} Threads</p>
        {{#equalUserOrAdmin}}
        <button
          type="button"
          class="btn btn-link text-decoration-none btn-delete"
          data-toggle="modal"
          data-target="#deleteAccountModal"
        >
          <i class="fas fa-trash btn-delete"></i> Delete Account
        </button>
        {{/equalUserOrAdmin}}
      </div>
    </div>
    <!-- Columna de Threads -->
    <div class="col-md-8">
      <h2>Threads</h2>
      <!-- Lista de Threads -->
      <div class="list-group mb-3">
        {{#threads}}
        <a
          href="url-del-hilo-2"
          class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        >
          {{name}}
          <span class="badge badge-primary badge-pill"
            >{{numberPosts}} posts</span
          >
        </a>
        {{/threads}}
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="deleteAccountModal"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Confirm Deletion</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your account? This action cannot be
        undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <a type="button" class="btn btn-danger btn-confirm-delete" href="/user/delete/{{username}}">
          Delete Account
        </a>
      </div>
    </div>
  </div>
</div>

{{>footer}}
