{{>header}}

<!-- contenido -->
<div class="container mt-4 flex-grow-1">
  <div class="row">
    <!-- Columna de Título de Categoría y Posts -->
    <div class="col-md-8 mb-3">
      <div
        class="col-12 d-flex justify-content-between align-items-center mb-3"
      >
        <!-- Título de la Categoría con Icono -->
        <h2 class="mb-0 col-8">
          <a href="/f/{{forumName}}"><i class="fas fa-{{forumIcon}} fa-lg"></i></a> {{threadName}}
        </h2>
        <!-- Botón post -->
        <div>
          {{#isOwnerOrAdmin}}
          <a
            type="button"
            class="btn btn btn-link text-decoration-none btn-delete"
            href="/t/{{threadName}}/delete"
          >
            Delete Thread
        </a>
          {{/isOwnerOrAdmin}} {{#logged}}
          <button
            type="button"
            class="btn btn-outline-primary"
            data-toggle="modal"
            data-target="#uploadModal"
          >
            Add Post
          </button>
          {{/logged}}
        </div>
      </div>

      <div class="list-group">
        <!-- Post 1 -->
        {{#posts}}
        <div class="col-12 mb-3">
          <div class="card no-hover">
            <div class="card-header bg-white">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <img
                    src="/image/user/{{username}}"
                    alt="Imagen de perfil"
                    class="rounded-circle mr-2"
                    style="width: 30px; height: 30px"
                  />
                  <h6 class="mb-0">{{username}}</h6>
                </div>
                <div class="text-muted">
                  <small>{{elapsedTime}}</small>
                </div>
              </div>
            </div>

            <div class="card-body">
              <!-- Contenido del Post -->
              <p class="card-text">{{text}}</p>
            </div>

            <!-- Imagen Principal del Post, ahora más pequeña y al final del card -->
            {{#hasImage}}
            <div class="d-flex justify-content-center pb-3">
              <img
                src="/image/post/{{id}}"
                class="img-fluid"
                style="max-width: 50%"
                alt="..."
              />
            </div>
            {{/hasImage}}

            <div
              class="card-footer bg-transparent d-flex justify-content-start align-items-center"
            >
              <button
                type="button"
                class="btn btn-link text-decoration-none text-dark mr-2"
              >
                <i class="fas fa-thumbs-up"></i> {{likes}}
              </button>
              <span class="text-muted mx-2">|</span>
              <button
                type="button"
                class="btn btn-link text-decoration-none text-dark"
              >
                <i class="fas fa-thumbs-down"></i> {{dislikes}}
              </button>
              <!-- Espaciador para empujar el siguiente botón hacia la derecha -->
              <div class="ml-auto"></div>
              <!-- Text Button al lado derecho -->
              {{#logged}}
              <button type="button" class="btn btn-link text-decoration-none">
                <i class="fas fa-exclamation-circle"></i>
              </button>
              {{/logged}} {{#isOwner}}
              <button
                type="button"
                class="btn btn-link text-decoration-none text-dark"
              >
                <i class="fas fa-edit"></i>
              </button>
              <button type="button" class="btn btn-link text-decoration-none">
                <i class="fas fa-trash btn-delete"></i>
              </button>
              {{/isOwner}}
            </div>
          </div>
        </div>
        {{/posts}}
      </div>
    </div>

    <!-- Lista de Categorías -->
    <div class="col-md-4 mb-3">
      <h2 class="">Categories</h2>
      <div class="list-group mb-3">
        <!-- Categorías -->
        {{#forums}}
        <a
          href="/f/{{name}}"
          class="list-group-item list-group-item-action d-flex align-items-center"
        >
          <i class="fas fa-{{icon}} mr-2"></i> {{name}}
        </a>
        {{/forums}}
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="uploadModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="uploadModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Upload Post</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Formulario -->
        <form>
          <!-- Campo de texto -->
          <div class="form-group">
            <label for="inputText">Text</label>
            <textarea
              class="form-control"
              id="inputTextArea"
              rows="3"
              placeholder="Introduce un texto"
            ></textarea>
          </div>
          <!-- Drag and drop para imágenes -->
          <div class="form-group">
            <label for="dropzone">Image</label>
            <div id="dropzone" class="dropzone dz-clickable">
              <div class="dz-default dz-message">
                <span> Drag images here or click to select.</span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-link text-decoration-none"
          data-dismiss="modal"
        >
          Close
        </button>
        <button type="submit" class="btn btn-primary">Upload</button>
      </div>
    </div>
  </div>
</div>

{{>footer}}
